spring:
  application:
    name: MOCI_DdaSoop_BE

  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create # 재시작마다 테이블 초기화 (개발용)
